body{

    background-image: url(nicusor.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: width="1920" height="1080";
    
}